.header{
    position: relative;
    z-index: 5;
}

.brand-logo{
    padding-left: 10%;
}

#container-carousel{
    padding: 0;
    height: 50rem;
    overflow: hidden;
    position: relative;
    top: -250px;
    z-index: 2;
    
}

#option-links{
    margin-left: auto;
    padding-right: 10%;
}
