h1{
    color:aliceblue;
    text-align: center;
}
p{
    color:aliceblue;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

}
 @media (min-width: 650px)  {
     #descripcion-empresa{
        width: 620px;
        margin: auto;
     }
 }

 ul{
    list-style: none;
 }

 li{
     padding: 5px;
 }

.text-align-center{
    text-align: center;
}

.container-about{
    text-align: center;
    
}

.bg-head-bot{
    background-color: #141414; 
}

.card{
    background-color:#4e535c;
}
.padding-top{
    padding-top: 1.5rem;
    color:aliceblue;
}

.brand-logo{
    padding-left: 10%;
}

.container-contacto{
    padding-top: 3rem;
    text-align: center;

}

.container-contacto .btn{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.container-contacto p{
    padding-top: 2rem;
    
}

.img-about{
    display: inline-block;
    padding-top: 20px;
    margin: auto;
}

.descripcion-empleado{
    display: inline-block;
    margin: auto;
}

#last-container{
    padding-top: 30px;
    padding-bottom: 20px;
}

.media-links{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: aliceblue;
}

.media-links:hover{
    color: rgba(250, 251, 252, 0.623);
}

#container-carousel{
    padding: 0;
    
    
}

.option-links{
    margin-left: auto;
    padding-right: 10%;
}

#quienes-somos{
    color: aliceblue;
    text-align: center;
    padding-top: 5rem;
    
    margin:auto;
}
#container-botones-empleados{
    padding-top: 3rem;
    margin:auto;
    text-align:center;
    padding-bottom: 5rem;
}

#container-botones-empleados .btn{
    margin-top: 1rem;
}

#cards-proyectos{
    padding-top: 2rem;
}

#profile-pic-mario{
    position:relative;
    left: 450px;
}

#descripcion-mario{
    position: relative;
    right: 380px;
}

#info-creador{
    padding-top: 50px;
    font-size: 0.7rem;
    text-decoration: none;
}

#link-alejo{
    text-decoration: none;
    color: aliceblue;
}

@media (max-width: 874px){
    #profile-pic-mario{
        position: inherit;
    }
    
    #descripcion-mario{
        position: inherit;
    }
}

